[mysqld]
datadir                 = /app/data
expire_logs_days        = 4
innodb_buffer_pool_size = 96M
join_buffer_size        = 4M
key_buffer_size         = 16M
log-error               = /app/log/mysqld.log
log-bin                 = /app/log/mysql-bin
long_query_time         = 10
max_allowed_packet      = 16M
max_binlog_size         = 10M
max_connections         = 10
max_heap_table_size     = 32M
myisam_recover          = BACKUP
port                    = 3306
query_cache_limit       = 8M
query_cache_size        = 16M
skip-external-locking
slow_query_log          = 1
slow_query_log_file     = /app/log/mysqld-slow.log
socket                  = /app/mysql.sock
table_cache             = 256
thread_cache_size       = 8
thread_stack            = 256K
tmp_table_size          = 32M
tmpdir                  = /app/tmp
user                    = root



[client]
port                    = 3306
socket                  = /app/mysql.sock

